<form method="post" action="/animals">
    <h4> Animal reg page </h4>
    <ul>

        <li> 
            <label for="animal-name">Animal Name: </label>
            <input id="animal-name" type="text" name="name" />
        </li>

        <li> 
            <label for="date-of-birth">Date of Birth: </label>
            <input id="date-of-birth" type = "text" name="date_of_birth" />
        </li>
        <li>
            <label for="animal-type">Select animal:</label>
            <select id="animal-type" name="animal_type">
            <option value="Cat">Cat</option>
            <option value="Dog">Dog</option>
            <option value="Rabbit">Rabbit</option>
            <option value="Hamster">Hamster</option>
            <option value="Crocodile">Crocodile</option>
            <option value="Lizard">Lizard</option>
            <option value="Snake">Snake</option>
            <option value="Guinea Pig">Guinea Pig</option>
            <option value="Fish">Fish</option>
            <option value="Mouse">Mouse</option>
            <option value="Rat">Rat</option>
            <option value="Bird">Bird</option>
            <option value="Other">Other:</option>
            </select>
        </li>
            
        <li>
            <label for="animal-breed">Breed: </label>
                <input id="animal-breed" type = "text" name ="animal_breed" />
        </li>
        <li>
            <label for="owner">Owner name: </label>
                <input id="owner" type="text" name="owner_name" />
        </li>
        <li>
            <label for="owner-number">Owner telephone number: </label>
                <input id="owner-number" type="text" name="owner_phone_number"/>
        </li>
        <li>
            <label for="medical-history">Medical History: </label>
                <input id="medical-history" type="text" name="treatment_note"/>
        </li>
        <li>
            <label for="vet-select">Vet: </label>
            <select name="vet_id" id="vet-select">
                <% @vets.each do |vet| %>
                    <option value=<%=vet.id%>><%=vet.name%> (Registered animals: <%=vet.count_animals%>)</option>
                    <%end%>
                </select>

                <%# <input id="vet-id" type="text" name="vet_id"/> %>
        </li>
            <input type="submit" value="Register animal">
        
    </ul>
</form>

