<div class="list">
  <ul>
      <li>
        <a href="/admin">Administration</a>
      </li>
      <li>
        <a href="/consultation">Consultation</a>
        </li>
        <li>
        <a href="/animals">See all animals</a>
  </ul>
</div>