<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
    <meta charset="utf-8">
    <title> PACE </title>
    <link rel="stylesheet" href="/style.css">
    </head>
     <header>
         <nav>
            <a href="/">Homepage | </a>
            <a href="/animals">Show all registered animals | </a>
            <a href="/animals/new">Register new animal |</a>
            <a href="/vets">Show vets |</a>
            <a href="/vets/new">Add Vet</a>
        </nav>
    </header>
        <body>
            <%= yield %>
        </body>
</html>