<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title> PACE </title>
    </head>
    <body>
        <%= yield %>
        <a href="/animals">Return to animal list</a>
        <a href="/homepage">Homepage</a>
    </body>
</html>