@import url(https://fonts.googleapis.com/css?family=Squada+One:regular);
body {
    background-color: rgba(9, 58, 62, 0.331);
    font-family: "Squada One";
}
a:visited{color: rgb(234, 240, 240);}
a:hover{color: coral;}
ul {list-style: none;}

