<h1> Vet page </h1>

<div class="list">
  <ul>
    <% for vet in @vets %>
      <h4><a href="/vets/<%=vet.id%>"> Name: <%=vet.name%><a> </h4>
      <p> Caring for: <%=vet.count_animals()%> </p>
    <% end %>
  </ul>
</div>