<h1> Vet page </h1>
<table>
  <tr>
    <th>Veterinarian Name </th>
    <th>Number of assigned animals</th>
    </tr>
    <% for vet in @vets %>
    <td><a href="/vets/<%=vet.id%>"><%=vet.name%><a></td>
    <td><%=vet.count_animals()%></td>
  </tr>
  <% end %>
</table>