<form method="post" action="/vets">
<h3> Add new vet to rosta </h3>

    <ul>
        <li>
            <label for="vet-name">Vet Name: </label>
            <input id="vet-name" type="text" name="name"/>
        </li>
        <li>
            <input type="submit" value="Add vet">

    </ul>
</form>